body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f1f1ee;
}

.container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
    'header'
    'about'
    'contact'
    'projects';
}

header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.me {
  margin-right: 0.3em;
}

.name {
  margin-bottom: -0.5em;
}

.title {
  text-align: center;
  border-top: 1px solid black;
}

.contact {
  grid-area: contact;
  margin: 0.5em;
  text-align: center;
}

.menu > i {
  margin-left: 0.3em;
}

h1 {
  font-family: 'Poiret One', cursive;
}

h6,
h5 {
  font-family: 'Michroma', sans-serif;
}

hr {
  height: 1em;
  color: grey;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
}

.about {
  grid-area: about;
  padding: 0.3em;
  background-color: rgba(127, 255, 212, 0.198);
}

.text-about {
  text-align: end;
  font-size: 15vw;
  font-family: 'Bebas Neue', cursive;
  border-top: 0.3rem solid black;
  border-left: 0.3rem solid black;
}

.projects {
  grid-area: projects;
  padding: 0.3em;
  background-color: rgba(255, 0, 212, 0.192);
}

.text-projects {
  font-size: 15vw;
  font-family: 'Bebas Neue', cursive;
  border-bottom: 0.3rem solid black;
  border-right: 0.3rem solid black;
}

.projects > div {
  display: none;
  height: 5vh;
  background-color: aquamarine;
}

.projects > div:nth-of-type(1) {
  background-color: blue;
}
.projects > div:nth-of-type(2) {
  background-color: rgb(255, 251, 0);
}
.projects > div:nth-of-type(3) {
  background-color: rgb(86, 223, 109);
}
.projects > div:nth-of-type(5) {
  background-color: rgb(255, 0, 234);
}
.projects > div:nth-of-type(5) {
  background-color: rgb(255, 174, 0);
}
.projects > div:nth-of-type(6) {
  background-color: rgb(255, 0, 212);
}

.menu,
.about,
.projects,
.contact > i {
  cursor: pointer;
}

.current-stack {
  display: none;
}

@media (min-width: 700px) {
  .container {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
    grid-template-areas:
      'header contact'
      'projects about';
  }

  .menu {
    display: none;
  }

  .me {
    width: 250%;
    padding: 1em;
  }

  .me-nav {
    display: flex;
  }

  .title {
    font-size: 1.5vw;
  }

  .contact {
    text-align: center;
  }

  .contact > i {
    font-size: 8vw;
    margin-right: 0.02em;
  }

  .current-stack {
    display: block;
    margin-top: 1.6em;
    margin-left: 1.5em;
  }
}
